# DeepLense Project .gitignore

# General Python ignores
*.pyc
*~
*.swp
*.swo
*.log
*.out
__pycache__/
.Python
.history
*.egg-info
*.egg
dist/
build/
develop-eggs/
MANIFEST
*.manifest
*.spec
*.lib
*.obj
*.exp
*.dll
*.pdb
*.tcl
*.ini
*.jnilib
*.so
*.dylib
*.whl
*.DS_Store
.vscode/
.idea/
*.iml

# Virtual Environment
env/
venv/
*.venv/

# Jupyter Notebook related ignores
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
.virtual_documents/
Task1/.virtual_documents/
Task1/notebooks/.ipynb_checkpoints/
Task2/notebooks/.ipynb_checkpoints/
Task2/scripts/.ipynb_checkpoints/
Task2/results/.ipynb_checkpoints/
Task1/results/.ipynb_checkpoints/

# Dataset and Data files
dataset/
Task1/dataset/
Task2/dataset/
*.zip
*.npy # Assuming you have numpy arrays in dataset
*.csv # If you have CSVs

# Model Weights and Checkpoints
# models/
# Task1/models/
# Task2/models/
# *.pth
*.pt
*.ckpt
*.h5
*.tflite
*.onnx

# Results and Images
# results/
# Task1/results/
# Task2/results/
# *.png
*.jpg
*.jpeg
*.gif
*.svg

# OS and Editor specific files
._*
.Trashes
ehthumbs.db
Thumbs.db
[Tt]humbs.db

# Large files that shouldn't be pushed to GitHub
# Add any specific large file extensions or patterns here if needed
# Example:
# *.bigdata

# Ignore misc folder - if it's just for misc things you don't need in repo
misc/

# Ignore any raw data folders if you have them and don't need in repo
# raw_data/
# data_raw/